{%extends "bootstrap/base.html"%}
{% block title %}HopUp{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Home</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="/login">Login</a></li>
      <li><a href="/project_register">Start a new Project</a></li>
    </ul>
  </div>
</div>
</div>
{% endblock %}

{%block content%}
<div class="about">
    <h1>About Hopup</h1>
    <p>We are here to create wings to the creative birds so that they can fly high. <br/>
       We give life to ideas by piling up the resources needed. <br/>

       We have a small community that helps you people to share ideas with other creative people at different parts of the world. <br/>

       If you have a project already started which is not able to move forward just beacuse of the lack of funds, we are here to rasie a fund for you.
       <br/>

       If you have just started the startup and need publicity to pledge for funds you are in the right place.
<br/>
       We do not interfere in your technical part of the work of idea we just provide you with advertising stuff that collects funds.
<br/>
       Help yourself bu helping others is our motto.
<br/>
       Hopup basically lets any idea to hop.
<br/>
       Hop Big.
<br/>
       </p>
</div>
{%endblock%}
